root = true
[*.cs]
 indent_style = space
 indent_size = 4
 tab_width = 4
 charset = utf-8-bom 
 
 # Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none